services:
  wings:
    image: ghcr.io/calagopus/wings:latest
    restart: unless-stopped
    environment:
      TZ: "Europe/Berlin"
      WINGS_UID: 988
      WINGS_GID: 988
      WINGS_USERNAME: pterodactyl
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/var/lib/docker/containers/:/var/lib/docker/containers/"
      - "/etc/pterodactyl:/etc/pterodactyl/"
      # please note: if you change the /var/lib/pterodactyl path and split it up, make sure to include the following paths properly:
      # /var/lib/pterodactyl/volumes (used for storing server files)
      # /var/lib/pterodactyl/vmounts (used for storing temporary mountpoints, DO NOT put this on a tmpfs, thats why its separate)
      # /var/lib/pterodactyl/archives (unused for wings-rs currently, may get a future use)
      # /var/lib/pterodactyl/backups (used for storing local backups of servers)
      - "/var/lib/pterodactyl/:/var/lib/pterodactyl/"
      - "/var/log/pterodactyl/:/var/log/pterodactyl/"
      - "/tmp/pterodactyl/:/tmp/pterodactyl/"
      # do not mount directly to /etc/ssl/certs (right side), this will cause certificate issues within the container
      - "/etc/ssl/certs:/etc/ssl/certs/user:ro"
    ports:
      - 8080:8080
      - 2022:2022
